{% extends 'base.html' %}
{% block title %}Delete Recipe{% endblock %}

{% block content %}

    <div class="container">
        <h1>Delete Recipe</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST">
                    {% csrf_token %}
                    <label for="title">Title</label>
                     {{ form.title }}
                    <label for="imageURL">Image URL</label>
                    {{ form.image_url }}
                    <label for="description">Description</label>
                    {{ form.description }}
                    <label for="ingredients">Ingredients</label>
                    {{ form.ingredients }}
                    <label for="time">Time (Minutes)</label>
                    {{ form.time }}
                    <input type="submit" class="button delete" value="Delete">
                </form>
            </div>
        </div>
    </div>

{% endblock %}